

/* 通用属性 */
*{padding:0; margin:0;border:0;}
body{font-family:Tahoma,"宋体",arial;background:#faf7e4;color:#555;font-size:12px;}

li{list-style:none;}
h1,h2,h3,h4,h5,h6{}
/*ie6浮动边距hack*/
table.left,div.left,ul.left,li.left,ul.left li,div.right,ul.right,li.right,ul.right li{position:relative;display:inline;}
/*总宽度*/

.wrap
{
	width:1004px;
	margin:0 auto;
	position:relative;
}
/* 链接 */
a:link{color:#333333;text-decoration: none;}
a:visited{color:#333;text-decoration:none;}
a:hover{color:#ff9900;text-decoration:none;}
a:active{text-decoration:none;}
a img{border:0 none;}

.list14a a:link {font-size:14px;color:#866e32;}
.list14a a:visited {font-size:14px;color:#866e32;}
.list14a a:hover {font-size:14px;color:#ff9900;}
.list14a a:active {font-size:14px;color:#866e32;}

.list14b a:link{font-size:14px;color:#7B6D2E;}
.list14b a:visited{font-size:14px;color:#7B6D2E;}
.list14b a:hover{font-size:14px;color:#f00;}
.list14b a:active{font-size:14px;color:#7B6D2E;}

.list14c a:link{font-size:14px;color:#333;text-decoration:underline;}
.list14c a:visited{font-size:14px;color:#333;text-decoration:underline;}
.list14c a:hover{font-size:14px;color:#f00;text-decoration:underline;}
.list14c a:active{font-size:14px;color:#333;text-decoration:underline;}

.list14d a:link{font-size:14px;color:#f35102;text-decoration:none;}
.list14d a:visited{font-size:14px;color:#f35102;text-decoration:none;}
.list14d a:hover{font-size:14px;color:#999;text-decoration:none;}
.list14d a:active{font-size:14px;color:#f35102;text-decoration:none;}

/*带下划线的*/
.list12a a:link{color:#866e32;text-decoration:underline;}
.list12a a:visited{color:#866e32;text-decoration:underline;}
.list12a a:hover{color:#ff9900;text-decoration:underline;}
.list12a a:active{color:#866e32;text-decoration:underline;}

.list12b a:link{color:#866D15;}
.list12b a:visited{color:#866D15;}
.list12b a:hover{color:#ff9900;}
.list12b a:active{color:#866D15;}

.list12c a:link{color:#d67b2a;}
.list12c a:visited{color:#d67b2a;}
.list12c a:hover{color:#ff9900;}
.list12c a:active{color:#d67b2a;}

.list12d a:link{color:#2d568e;}
.list12d a:visited{color:#2d568e;}
.list12d a:hover{color:#ff9900;}
.list12d a:active{color:#2d568e;}

.font16a{font-size:16px;}
.font16a a:link{color:#003366;}
.font16a a:visited{color:#003366;}
.font16a a:hover{color:#ff9900;}
.font16a a:active{color:#003366;}
/* 灰色链接字，用得较多  */
.fgrey a:link{color:#999;}
.fgrey a:visited{color:#999;}
.fgrey a:hover{color:#999;}
/* 白色链接字，用得较多  */
.fwhite a:link{color:#fff;}
.fwhite a:visited{color:#fff;}
.fwhite a:hover{color:#fff;}
/* 黑色链接字，用得较多  */
.black a:link{color:#000;}
.black a:visited{color:#000;}
.black a:hover{color:#000;}
/* 红色链接字，用得较多  */
.fred a:link{color:#F30306;}
.fred a:visited{color:#F30306;}
.fred a:hover{color:#ff9900;}
/* 红色带下划线链接字，用得较多  */
.fred_u a:link{color:#F30306;text-decoration:underline;}
.fred_u a:visited{color:#F30306;text-decoration:underline;}
.fred_u a:hover{color:#ff9900;text-decoration:underline;}
/* 黄色带下划线链接字，用得较多  */
.yellow_u a:link{color:#ffff00;text-decoration:underline;}
.yellow_u a:visited{color:#ffff00;text-decoration:underline;}
.yellow_u a:hover{color:#ffff00;text-decoration:underline;}
/* 首页用深蓝链接色，用得较多  */
.fblue a:link{color:#314E9C;}
.fblue a:visited{color:#314E9C;}
.fblue a:hover{color:#ff9900;}
/* Font  */
.f10{font-size:14px;_font-size:10px;}/*只用于文本前的小三角，用SPAN加载*/
.f11{ font-size:11px;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f24{font-size:24px;}
.f30{font-size:30px;}
.fb {font-weight:bold;}/*字体加粗*/
.fi{ font-style:italic;}/*字斜体*/
.fo{ font-style:oblique;}/*字偏斜体*/
.fs{text-indent:2em;}/*文字排版，首航空两格*/
.fws{white-space:nowrap; overflow:hidden;}/*文字不允许回行，多出的隐藏*/
.fns{white-space:normal;word-break:break-all;overflow:hidden;word-wrap:break-word;}/*文字强制换行，多出的隐藏*/
.tfns{table-layout:fixed;}/*table中配合文字强制换行使用，该属性必须赋给table标签*/
.ful{text-decoration:underline;}

.ovh{overflow:hidden}/*多出的隐藏*/
.ovh_x{overflow-x:hidden}
.ovh_y{overflow-y:hidden}
.ova{overflow:auto}/*多出的出滚动条*/
.ova_x{overflow-x:auto}
.ova_y{overflow-y:auto}
/* CSS空白 */
.blank1{height:1px;}
.blank2{height:2px;}
.blank3{height:3px;}
.blank5{height:5px;}
.blank8{height:8px;}
.blank10{height:10px;}
.blank15{height:15px;}
.blank20{height:20px;}
.blank25{height:25px;}
.blank30{height:30px;}
.blank35{height:35px;}
.blank40{height:40px;}
.blank1,.blank2,.blank3,.blank5,.blank8,.blank10,.blank15,.blank20,.blank25{font-size:1px;}
/* 其他属性 */
.width100{width:100%;}/*仅限TABLE使用*/
.hand{cursor:pointer;}
.left,ul.left li{float:left;}
.right{float:right;}

.center{text-align:center;}
.tleft{text-align:left;}
.tright{text-align:right;}

.dc{margin:0 auto;}

.valign{display:table-cell;vertical-align:middle; position:static;}/*图片居中,用table*/
.hide,.hidden,div.hide,.user_control1,.user_control2,.user_control3{display:none;}/* 隐藏 */
.show{display:block;}/* 显示,也可用于块级化元素 */

.prt{position:relative;}
.ppt{position:absolute;}
.pfx{position:fixed;}

.unline,.unline a{text-decoration:underline;}

.noborder{border:0;}
.haveborder{border: 1px #d0d0d0 solid;*height:100%;}
.haveborder01{border: 1px #FBE5C6 solid;*height:100%;}
.haveborder02{border: 1px #6699cc solid;*height:100%;}
.haveborder03{border: 1px #fe9900 solid;*height:100%;}
.haveborder04{border: 1px #822635 dashed;*height:100%;}
.haveborder05{ border:1px #822635 solid;*height:100%;}
.dot01{color:#D6F0FF;font-size:8px;}/*蓝色小点  ■*/
.dot02{color:#F7CC63;font-size:10px;}/*橙色小条 ▌ */
.dot03{color:#999;font-size:8px;}/*灰小点  ■*/
/*不增高清浮动*/
.clearfix:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clear{content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}

/*前景色*/
.color1{color:#cc9900;}
.color2{ color:#000;}
.color3{ color:#045c81;}
.color4{ color:#A48F58;}/*土色*/
.color5{color:#d67b2a;}/*酱红色*/
.color6{ color:#cc3431;}/*猩红色*/
.color7{color:#016e95;}/*天蓝色*/
.color8{color:#F00;}/*大红色*/
.color9{color:#0c118d;}/*深蓝色*/
.color10{color:#F30306;}/*红色*/
.color11{color:#ED6E00;}/*黄色*/
.color12{color:#3298FA;}/*蓝色*/
.color13{color:#A98A15;}/* 褐色 */
.color14{color: #518D8B;}/* 绿色 */
.color15{color: #FEA201;}/* 橙色 */
.color16{color: #323498;}/* 紫色 */
.color17{color: #fff;}/* 白色 */
.color18{color:#000;}/* 黑色 */
.color19{color:#ffff33;}
.color20{color:#91383f;}

/* 背景色 */
.bg1{background:#cfd0d2;}/*奶黄色*/
.bg2{background:#EBF6FF;}/*浅蓝色*/
.bg3{background:#C8D4E0;}/*浅蓝灰色*/
.bg4{background:#fff;}/*白色*/
.bg5{background:#ff0000;}/*红色*/
.bg6{background:#F2F2F6;}/*浅灰色*/
.bg7{background:#ddd;}/*很浅灰色*/
.bg8{background:#FBFDFF;}/*特淡的蓝色*/
.bg9{background:#000;}/*黑色*/
.bg10{background:#6699cc;}/*蓝色*/
.bg11{background:#F4F5F6}/*特浅的灰色*/
.bg12{background:#317DCB;}/*很蓝*/
.bg13{background:#ccc;}
.bg14{background:#e9f4fc;}/*淡的蓝色*/
/*小图标和背景图片，按标准背景图截取位移*/
.bkg1{background:url(img/pub_bg.png)  -20px -20px;}/*通用黑色标题栏背景*/
.bkg1a{background:url(img/pub_bg.png)  -220px -20px;height:30px;line-height:30px;}/*各人博客首页的导航条*/
.bkg2{background:url(img/pub_bg.png)  -20px -48px;}/*横向虚线，容器高度20px*/
.bkg3{background:url(img/pub_bg.png)  -20px -60px;}/*小放大镜，搜索文本框背景*/
.bkg3a{background:#6699cc url(img/pub_bg.png)  -220px -70px;}/*蓝色渐变背景*/
.bkg4{background:url(img/pub_bg.png)  -20px -80px;}/*小喇叭*/
.bkg7{background:url(img/pub_bg.png)  -20px -470px;}/*水晶灰色渐变标题栏 高度22*/
.bkg9{background:url(img/pub_bg.png)  -20px -320px;width:95px;height:92px;}/*栏目首页推荐画册*/
.bkg10{background:url(img/pub_bg.png)  -20px -420px;width:950px;height:25px;}/*圈子用到的长背景头*/
.bkg13{background:url(img/pub_bg.png)  -20px -520px;width:150px;height:181px;}/*画册背景白*/
.bkg19{background:url(img/pub_bg.png)  -20px -990px;height:28px;}/*水晶灰色渐变标题栏 高度28*/
.bkg20{background:url(img/pub_bg.png) no-repeat -520px -180px;height:28px;text-indent:20px;}/*小记事本图标，用于列表头 高度28*/
.bkg21{background:url(img/index/index_59.gif) no-repeat;height:98px;width:98px;}/*首页用户头像框*/
.bkg22{background:transparent url(img/index/index_71.gif) no-repeat left center;width:15px;}/*首页列表左箭头标*/
/*按百分比居中*/
.center95{width:95%;margin: 0 auto;}
.center96{width:96%;margin: 0 auto;}
.center97{width:97%;margin: 0 auto;}
.center98{width:98%;margin: 0 auto;}
.center99{width:99%;margin: 0 auto;}
.center80{width:80%; margin:0 auto;}
/*无序列表样子*/
.ul01 li
{
	margin-left:10px;
	height:25px;
	line-height:25px;
}
/*分割线*/
.bot_line1,.bot_line1 dd{ border-bottom:1px dotted #CDCDCD;}/*下分割虚线dd用*/
.bot_line2{border-right:1px dotted #ccc;}/*右分割虚线*/
.bot_line3 li{ border-bottom:1px dotted #CDCDCD;}/*下分割虚线li用*/
.bot_line4,.bot_line4 td,.bot_line4 th,.bot_line4 dd{border-bottom:1px solid #CDCDCD;}

/*分隔线*/
.line01{ height:1px; margin:7px 0;*margin:0; border-bottom:1px dotted #CDCDCD;}
.line02{border:1px dotted #333;margin-top:15px;height:1px;font-size:0px;}/*颜色较深的,高度20px垂直居中*/
.line03{border-right:1px solid #666;}/*右分割实线*/
.line04{border-left:1px solid #666;}/*左分割实线*/

/*按钮、文本框、菜单*/
/*1下拉菜单淡黄色*/
.sel1,.op1
{
	border:1px solid #866e32;
	font-size:12px;
	background:#fff;
	color:#333;
}
.sel option,.op1 option
{
	border-bottom:1px dotted #866e32;
	background:#FFF8EE;
	color:#866e32;
	text-indent:1em;
}
/*1下拉菜单淡灰色*/
.sel2,.op2
{
	border:1px solid #ccc;
	font-size:12px;
	background:#fff;
	color:#666;
}
.sel2 option,.op2 option
{
	border-bottom:1px dotted #ccc;
	background:#f2f2f2;
	color:#666;
	text-indent:1em;
}
/*虚拟下拉菜单1*/
/*
sel3的用法
<div class="sel3" style="z-index:10000"><a href="javascript:void(0)" onclick="jQuery('.aaaaa').slideToggle('slow');">请选择。。。</a>
<p></p>
</div>
<div class="aaaaa hide ppt" style="z-index:10000">
    <ul>
        <li>dwqdqwdhwqdqwdqwd</li>
        <li>dwqdqwdhwqdqwdqwd</li>
        <li>dwqdqwdhwqdqwdqwd</li>
        <li>dwqdqwdhwqdqwdqwd</li>
        <li>dwqdqwdhwqdqwdqwd</li>
        <li>dwqdqwdhwqdqwdqwd</li>
    </ul>
</div>
*/
.sel3
{
	border:1px solid #ccc;
	height:18px;
	width:100px;
	position:relative;
}
.sel3 p
{
	background:url(img/knavbg.gif) no-repeat -1px -80px;
	width:10px;
	height:10px;
	border:1px solid #ccc;
	position:absolute;
	top:3px;
	right:2px;
}
.op3
{
	margin:3px 0;
}
.op3 .op_style01
{
	position:absolute;
	background:#fff;
	margin-top:1px;
	border:1px solid #666;
	z-index:600;
}
/*按钮*/
.btn1,.btn2,.btn3
{
	height:20px;
	line-height:18px;
	width:66px;
	color:#fff;
	text-align:center;
	cursor:pointer;
}
.btn1{background:#6699cc url(img/pub_bg.png)  -20px -920px;}/*蓝色*/
.btn2{background:#666 url(img/pub_bg.png)  -20px -940px;}/*黑色*/
.btn3{background:#ff9900 url(img/pub_bg.png)  -20px -960px;}/*橙色*/
.btn4,.btn5,.btn6
{
	height:22px;
	line-height:22px;
	color:white;
	text-align:center;
	cursor:pointer;
}
.btn4{background:#317DCE;}
.btn5{background:#FBFDFF;border:1px solid #D6E7FF;margin:2px;padding:0px 4px;}
/*文本框*/
.text1{border:1px solid #866e32;padding:2px;width:120px;}
.text2{border:1px solid #ccc;padding:2px;width:120px;}

/*各类选框完全垂直居中*/
.radio1{display:table-cell;vertical-align:middle; position:static;}

/*更多图片样式“阅览更多”*/
.btn_more1{background:url(img/pub_bg.png) no-repeat -20px -120px;}/*蓝色*/
.btn_more2{background:url(img/pub_bg.png) no-repeat -20px -140px;}/*黑色*/
.btn_more1,.btn_more2{display:block;width:66px;height:20px;}
.btn_more3{height:20px;width:40px;background:url(img/pub_bg.png) no-repeat -20px -500px;}

/*栅格布局宽度*/
/*计算公式：i*40-10*/
.w0{ width:20px;}/*特殊情况*/
.w1{ width:30px;}
.w1a{width:50px;}/*特殊情况*/
.w1b{width:40px;}/*特殊情况*/
.w1c{width:60px;}/*特殊情况*/
.w2{ width:70px;}
.w2c{width:80px;}/*特殊情况，后加的*/
.w2b{width:90px;}/*特殊情况，后加的*/
.w2a{width:100px;}/*特殊情况，图库或更多，图文混排带背景框*/
.w3{ width:110px;}
.w3a{width:124px;}
.w3b{width:120px;}/*特殊情况，列表页google广告宽120*/
.w4{width:150px;}
.w4b{width:168px;}/*特殊情况，宽度为W9的盒子BODY中左右平分，可以带边框*/
.w4a{width:178px;}/*特殊情况，排行榜的列基本用这个*/
.w5{width:190px;}
.w5a{width:214px;}/*特殊情况：通栏放4个模块，每个模块的宽度，余2个像素*/
.w5b{ width:200px;}/*特殊情况*/
.w5c{width:210px;}/*特殊情况*/
.w5d{width:228px;}/*特殊情况*/
.w6{width:230px;}
.w6b{width:240px;}
.w6a{width:255px;}/*特殊情况*/
.w7{width:270px;}
.w7b{width:290px;}
.w7a{width:305px;}/*特殊情况,栏目首页作品top10，box09用*/
.w8{width:310px;}
.w8a{width:325px;}/*特殊情况*/
.w8b{width:340px;}
.w9{width:350px;}
.w10{width:390px;}
.w11{width:430px;}
.w11a{width:464px;}/*特殊情况,不常用*/
.w11b{width:468px;}/*特殊情况*/
.w12{width:470px;}
.w12a{width:500px;}
.w13{width:510px;}
.w14{width:550px;}
.w15{width:590px;}
.w15a{width:620px;}
.w16{width:630px;}
.w16a{width:640px;}/*特殊情况,栏目首页顶部排版被3次pd5*/
.w17{width:670px;}
.w17a{width:700px;}
.w18{width:710px;}
.w19{width:750px;}
.w20{width:790px;}
.w20a{width:820px;}/*特殊情况，列表页左侧*/
.w20b{width:818px;}/*特殊情况，列表页左侧圆角边框的外框*/
.w21{width:830px;}

/*常用高度,根据行间距定制，一般用于标题栏*/
.h16{height:16px;}
.h19s{height:19.4px}/*国际推荐通用行高,字体大小14px*/
.h20{height:20px;}
.h22{height:22px;}
.h24{height:24px;}
.h26{height:26px;}
.h28{height:28px;}
.h30{height:30px;}
.h40{height:40px;}

/*行间距*/
.lh16{line-height:16px;}
.lh19s{line-height:19.4px}/*国际推荐通用行高,字体大小14px*/
.lh20{line-height:20px;}
.lh22{line-height:22px;}
.lh23{line-height:23px;}
.lh24{line-height:24px;}
.lh26{line-height:26px;}
.lh28{line-height:28px;}
.lh30{line-height:30px;}
.lh40{line-height:40px;}

/*各种边、间距*/
.ma2{margin:2px;}
.ma3{margin:3px;}
.ma4{margin:4px;}
.ma5{margin:5px;}
.ma6{margin:6px;}
.ma7{margin:7px;}
.ma8{margin:8px;}
.ma10{margin:10px;}
.ma13{margin:13px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.ml3{margin-left:3px;}
.ml4{margin-left:4px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mtb10{margin:10px 0;}
.mtb5{margin:5px 0;}
.mlr10{margin:0 10px;}
.mrb10{margin-right:10px;margin-bottom:10px;}
.mtrl8{margin:8px 8px 0 8px;}
.mtrl10{margin:10px 10px 0 10px;}
.mtrl13{margin:13px 13px 0 13px;}
.mlrb8{margin:0 8px;}

.pd2a{padding:2px 0;}/*特殊情况，带序号的行用这个增加行高，替代ling-height*/
.pd1{padding:1px;}
.pd2{padding:2px;}
.pd3{padding:3px;}
.pd4{padding:4px;}
.pd5{padding:5px;}
.ptb5{padding:5px 0;}
.pd10{padding:10px;}
.plr10{padding:0 10px;}
.ptb10{padding:10px 0;}
.pr10{padding-right:10px;}
.pl10{ padding-left:10px;}
.pl5{ padding-left:5px;}
.pt3{padding-top:3px;}
.pt5{padding-top:5px;}

/*盒子模型*/
.box01
{
	border:#e1d3ae 1px solid;
	*height:100%;
}
.box01_hd
{
	color:#866e32;
	border-bottom:#e1d3ae 1px solid;
	background:url(img/tab01_bg.gif) repeat-x;
	height:25px;
	line-height:25px;
	padding-left:10px;
}
.box01_hd .left{
	font-size:14px;	
	font-weight:bold;
}
.box01_hd .right{
	padding-right:8px;
}

/*用于图片的更多页*/
.box02{}
.box02_hd
{
	width:910px;
	height:41px;
	background:url(img/pub_bg.png) no-repeat  -20px -420px;
	line-height:41px;
	padding:0 10px 0 30px;

}
.box02a_hd 
{
	width:630px;
	height:41px;
	background:url(img/pub_bg.png) no-repeat  -20px -1020px;
	line-height:41px;
	padding:0 10px 0 30px;
}
.box02_body
{
	border:#cecece 1px solid;
	border-top:0;
	*height:100%;
	padding:0 5px 12px;
}
.box02_body table
{
	width:110px;
	height:120px;
	background:url(img/img_bg_42.gif) repeat-x;
	margin-bottom:5px;
}
.box02a_body
{
	border:#cecece 1px solid;
	border-top:0;
	*height:100%;
	padding:0 5px 12px;
}
.box02_body ul li
{
	margin:12px 12px 0;
	width:110px;
}
/*特殊情况，群图片更多页*/
.box02a_body ul li
{
	margin:16px 10px 0;
	width:110px;
}
/*
1.用于文档型页面,如群注册
2.DL开始是纯文本带分类盒子
*/
.box03
{
	background:#fafafa;
	border:#dadedd 1px solid;
	*height:100%;
}
.box03_hd
{
	height:25px;
	line-height:25px;
	padding-left:10px;
}
.box03_body
{
	color:#989898;
	padding:50px 0;
}
.box03 dl{padding:2px;}
.box03 dl dt
{
	background: #6699cc;
	text-align: center;
}
.box03 dl dt li
{
	height:22px;
	line-height:22px;
	border-bottom:1px solid #fff;
	
}
.box03 dl dt li a:link,.box03 dl dt li a:visited
{
	color:#fff;
}
.box03 dl dd li
{
	height:22px;
	line-height:22px;
	border-bottom:1px #fff dotted;	
}
.box03 dl dd li a
{
	margin:0 5px;
}

/*
1.不带边框的，body左右平分的，如博客总页精彩图文
2.左用户图片右功能菜单下文章列表，灰色渐变标题
*/
.box04{}
.box04_hd
{
	height:22px;
	line-height:20px;
	background:url(img/pub_bg.png)  -20px -470px;
}
.box04_hd .left{font-weight:bold;}
.box04_hd .left span{color:#FEA201;font-size:12px;margin-left:10px;}
.box04_hd .right{margin-right:8px;}
/*
1.左用户图片右功能菜单下文章列表，灰色渐变标题
2.图片列表
-----box05*/
.box05{}
.box05_hd
{
	height:22px;
	line-height:22px;
	background:url(img/pub_bg.png) no-repeat  -20px -720px;
}
.box05_hd .left{font-weight:bold;}
.box05_hd .left span{color:#FEA201;font-size:12px;margin-left:10px;}
.box05_hd .right{margin-right:8px;}
.box05_body
{
	padding:5px;
	*height:100%;
	border:1px solid #ccc;
}
.box05_body .user img
{
	width:90px;
	height:90px;
	padding:4px;
	border:1px solid #ccc;
}
.box05_body table td
{
	height:24px;
}
.box05_body table td img
{
	width:15px;
	height:15px;
}
.box05_body ul.left li{margin:5px 12px;text-align:center;}
/*带切换标签的盒子*/
.box06{}
.box06_hd{}
.box06_hd dd
{
	height:20px;
	line-height: 20px;
	border:1px solid #D5D5D3;
	border-bottom-color:#F7F7F7;
	background: #f2f2f2;
	margin-right:8px;
	text-align: center;
	cursor:pointer;
}
.box06_body{padding:5px;border:1px solid #ccc;*height:100%;}
.box06_body li{margin:5px 7px;text-align:center;}
.box06_body li img{padding:4px;border:1px solid #f2f2f2;}

.box07
{
	border:#e1d3ae 1px solid;
	*height:100%;
}
.box07_hd
{
	color:#866e32;
	border-bottom:#e1d3ae 1px solid;
	background:url(img/tab01_bg.gif) repeat-x;
	height:25px;
	line-height:25px;
	padding-left:10px;
}
.box07_hd .left{font-weight:bold;}
.box07_hd .left span{color:#FEA201;font-size:12px;margin-left:10px;}
.box07_hd .right{margin-right:8px;}
/*图说天下最常用的黑色标题框导航*/
.box08{}
.box08_hd
{
	height:22px;
	line-height:22px;
	background:url(img/pub/intro_bg.png) repeat-x;
	border-right:1px solid #ccc;
}
.box08_hd .left
{
	font-weight:bold;
	background:url(img/pub_bg.png) no-repeat -20px -20px;
	width:161px;
	height:22px;
	line-height:22px;
	color:#fff;
}
.box08_hd .left span{color:#FEA201;font-size:12px;margin-left:6px;}
.box08_hd .right{margin-right:8px;}
.box08_body
{
	border:1px solid #ccc;
	border-top:0;	
	*height:100%;
}
.box08_body dl
{
	width:170px;
	margin:5px auto;
	text-align:center;	
}
.box08_body dl dt span
{
	display:block;
	background:url(img/pub_bg.png) no-repeat -20px -68px ;
	width:170px;
	height:12px;
}
.box07_body,.box04_body,.box01_body
{
	padding:5px;
	*height:100%;
}
/*特殊box，栏目首页作品排行带一个标签的盒子*/
.box09{position:relative;}
.box09_hd
{
	height:22px;
	line-height:22px;
	text-align:center;
	background:#ccc;
}
.box09_body
{
	border:1px solid #ccc; 
	padding:5px;
	*height:100%;
	
}

.box10{}
.box10_hd
{
	background:url(img/pub_bg.png)  -220px -20px;
	height:30px;
	line-height:30px;
}
.box10_hd .left
{
	font-weight:bold;
	width:161px;
	color:#00324e;
	font-size:14px;
}
.box10_hd .left span
{
	margin-left:10px;
}
/*用户后台框架box*/
.box11
{
	background-color:#F0F5FB;
	padding:10px;
	*height:100%;
}
.box11_hd
{
	background:#F0F5FB url(/Themes/style1/img/passport/icon_cross.gif) no-repeat 0 center;
	height:22px;
	line-height:22px;
	padding:5px;
}
.box11_hd .left
{
	font-weight:bold;

	color:#2F4C9C;
	font-size:14px;
}
.box11_hd .left span
{
	margin-left:20px;
}
.box11_body
{
	background:#fff;
	border:1px solid #A3CAF2;
	*height:100%;
	padding:15px;
}
.box11_body dd{line-height:30px;padding:5px;}
.box11_body dd ul li span
{
	color:#317DCE;
	font-size:14px;
}
.box11_body dd ul li input,.box11_body dd ul li select
{
	background-color:#FFFFFF;
	border:1px solid #C4C2C3;
	color:#333333;
	padding:5px;
	margin-right:10px;
}
.box11_body dd strong{color:#ff0000;}
/*用户后台功能导航box*/
.box12{*height:100%;}
.box12_hd
{
	background:url(img/pub_bg.png) no-repeat  -220px -220px;
	height:24px;
	line-height:24px;
}
.box12_hd .left
{
	font-weight:bold;
	width:120px;
	color:#fff;
	font-size:14px;
}
.box12_hd .left span
{
	margin-left:10px;
}
.box12_body
{
	border:1px solid #A3CAF2;
	*height:100%;
	line-height:22px;
	padding:5px;
}
.box12_body span.tag{color:#307DCA;}


.box13
{
	background:#eee;
	border:1px solid #DADADA;
	padding:5px;
	*height:100%;
}
.box13_hd
{
	height:26px;
	line-height:26px;
	background:#EBEBEB url(img/pub_bg.png) -120px -140px;
}
.box13_hd .left
{
	font-weight:bold;
	color:#2E4B9B;
	width:100px;
	text-align:center;
	font-size:14px;
}
.box13_hd .left span{}
.box13_hd .right{margin-right:8px;}
.box13_body
{
	padding:5px;
	background:#fff;
	*height:100%;
}

.boxtopic
{
	width:953px;
	height:223px;
	background:url(/Themes/style1/img/group/topic_bg_32.gif) no-repeat;
}
.boxtopic_hd a:link{color:#862736;}
.boxtopic_hd a:visited{color:#862736;}
.boxtopic_hd a:hover{color:#ff9900;}
.list12b a:active{color:#862736;}
.boxtopic_left
{
	width:307px;
	height:160px;;
	background:url(/Themes/style1/img/group/topic_bg_36.gif) repeat-x;
}



/*选择标签的样式，是根据外框的ID进行选择的，可以多定义几种样式*/
.hover_a
{
	background:#999 url(img/pub_bg.png) -20px -720px;
	color:#739242;
	font-weight:bold;
}
/**/
#TabBlog .hover
{
	color: #fff;
	background:#999 url(img/pub_bg.png) -220px -70px;
}
#TabBlog .hover a:link
{
	color:#fff;
}
/**/
#TabBlog01 .hover
{
	color: #000;
	background:#999 url(img/pub_bg.png) -20px -720px;
	
}
#TabBlog01 .hover a:link
{
	color:#000;
}

#TabIndex01 .hover
{
	color:#000;
	background:#999 url(img/index/index_49.gif) no-repeat;
	width:82px;
}
/*用户后台用到的标签样式*/
#firNav li{
	margin-right: 4px;
	width: 72px; 
	height: 28px;
	line-height: 28px;
	text-align: center;
}
#firNav li.now{
	background:url(img/pub_bg.png) -421px -170px;
	color:#fff;
}
#firNav now a:link,#firNav now a:visited,#firNav now a:hover{color:#fff;}
#firNav .mouseover{
	background:url(img/pub_bg.png) -321px -170px;
	color:#fff;
}
#firNav .spare{
	background:url(img/pub_bg.png) -220px -170px;
	color: #2e4b9b;
}
/*容器*/

/*淡黄色纯文本panel，带边框*/
.pnl01
{
	background:#fff8ee;
	border:#e6e2df 1px solid;
	line-height:30px;
}
/*很淡的蓝色*/
.pnl02{background:#F9FFFF;}
/*灰色渐变填充高度不超过70px*/
.pnl03 
{
	background:url(img/pub_bg.png) no-repeat  -20px -720px;
	height:70px;
}
.pnl04{background:#f2f2f2;}
.pnl05{line-height:20px;background:#fff8ee;}/*淡黄色纯文本panel，无边框*/
/*热门标签的panel*/
.pnl06
{
	border-top:2px solid #ccc;
	border-bottom:2px solid #ccc;
	height:30px;
	line-height:30px;
	white-space:nowrap;
	overflow:hidden;
	*width:100%;
}

/*搜索框
search有高度，带下分割线
search2不带高度，无分隔线，按钮样式不同
*/
.search1
{
	height:40px;
	border-bottom:2px solid #666;
}
.search1 .ste,.search2 .ste
{
	background:url(img/pub_bg.png) no-repeat  -20px -80px;
	width:108px;
	height:18px;
	line-height:18px;
	padding-left:25px;
	border:1px solid #B7B8B2;
}
.search1 select,.search2 select
{
	border:1px solid #ccc;
	font-size:12px;
	background:#fff;
	color:#666;
}
.search1 select option,.search2 select option
{
	border-bottom:1px dotted #ccc;
	background:#f2f2f2;
	color:#666;
	text-indent:1em;
}
.search1 .sbm
{
	height:20px;
	line-height:20px;
	width:66px;
	color:#fff;
	text-align:center;
	background:url(img/pub_bg.png)  -20px -920px;
}
.search2 .sbm
{
	height:20px;
	line-height:20px;
	width:66px;
	color:#fff;
	text-align:center;
	background:#6699CC url(img/pub_bg.png) -225px -90px;
	border:1px solid #fff;
}
.search3
{
	background:url(/Themes/style1/img/index/index_15.gif);
	height:35px;
}
.search3 select
{
	border:1px solid #999;
	font-size:12px;
	background:#fff;
	color:#666;
	display:table-cell;
	position:static;
	vertical-align:middle;
	padding:2px;
}
.search3 input.inp
{
	border:1px solid #999;
	font-size:12px;
	background:#fff;
	color:#666;
	display:table-cell;
	position:static;
	vertical-align:middle;
	padding:3px;
	margin:0 5px;
}
.search3 input.sbm1
{
	background:url(/Themes/style1/img/index/index_17.gif) no-repeat;
	width:64px;
	height:35px;
}
.search3 input.sbm2
{
	background:url(/Themes/style1/img/index/index_22.gif) no-repeat;
	width:79px;
	height:35px;
}
/*序号*/
.cn1{background:#ff9900;}
.cn2{background:#F39800;}/*橙色*/
.cn3{background:#648C0D;}/*淡绿色*/
.cn1,.cn2,.cn3
{
	width:17px;
	height:17px;
	line-height:17px;
	text-align:center;
	border:1px dotted #FFF;
	font-weight:bold;
	color:#fff;
	margin-top:5px;
	margin-left:5px;
	cursor:pointer;
}
.cn4{background:#ff0000;}
.cn5{background:#ccc;}
.cn8{background:#862737;}
.cn4,.cn5,.cn8
{
	width:13px;
	height:13px;
	line-height:13px;
	text-align:center;
	color:#fff;
}
.cn6{background:#ff9900;}
.cn7{background:#999;}
.cn6,.cn7
{
	width:16px;
	height:16px;
	line-height:16px;
	text-align:center;
	color:#fff;
	border:1px solid #000;
	margin-right:1px;
}


/*内容填充*/
/*ct01用于横排图文混排填充BOX，可带左右移动的链接箭头*/
.ct01{padding:10px 0;}
/*ct02 圈子分类的样式 直接用UL填充时给UL的样式*/
.ct02{}
.ct02 li{margin:10px;}
/*友情链接*/
.ct03{padding:5px;border:1px solid #ccc;}
.ct03 p span{line-height:20px;white-space:nowrap;margin:5px;}
.ct03 img{width:88px;height:31px;margin:5px;}

/*图片边框*/
.ib01 img{ padding:1px;border:#CCC 1px solid}
.ib02 img{ padding:2px;border:#CCC 1px solid}
.ib03 img{ padding:3px;border:#CCC 1px solid}
.ib04 img{ padding:4px;border:#CCC 1px solid}
.ib04a img{padding:4px;background:#E1D3AE}

/*上一页下一页用*/
.pagin{height:22px; line-height:22px;}
.pagebar span{padding:5px;}


/*浮动层样式*/
.float_btn{color:#666;border:1px #666 solid;width:70px;height:20px;line-height:20px;text-align:center;vertical-align:middle;}
/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}
/* Container */
#simplemodal-container {background-color:#fff;border:1px solid #333;padding:5px;}
#simplemodal-container a.modalCloseImg 
{
	background:url(/common/images/libs/simplemodal/x.png) no-repeat;
	_background:transparent none;
	width:25px; 
	_width:22px;
	height:29px;
	_height:26px;
	display:inline;
	z-index:3200; 
	position:absolute; 
	top:-15px;
	right:-18px;
	_right:-14px;
	cursor:pointer;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/common/images/libs/simplemodal/x.png',sizingMethod='scale');
}
.frm_model_eara{}
.frm_remark_area{}
/*浮动层样式_结束*/

/*文本输入框*/
textarea
{
	padding:5px;
	width:97%;
	border:1px solid #ccc;
	background:#fff url(/themes/style1/img/pub/textarea_bg.gif) no-repeat center center;
	height:125px;
	color:#999;
	overflow-y:hidden;
}

/*可扩展圆角*/
.corner01
{
	position:relative;
	height:42px;
}

.corner01_tl{position:absolute;width:15px; height:15px;background:url(img/corner_bg.png)  -20px -20px; z-index:200;}
.corner01_tr{position:absolute; top:0; right:0; width:15px; height:15px;background:url(img/corner_bg.png)  -55px -20px; z-index:200;}
.corner01_rb{position:absolute; right:0px; top:27px; width:15px; height:15px;background:url(img/corner_bg.png)  -55px -54px; z-index:200;}
.corner01_lb{position:absolute; left:0px; top:27px; width:15px; height:15px;background:url(img/corner_bg.png)  -20px -54px; z-index:200;}
.corner01_mid{position:absolute; width:816px; height:40px;border:#d8e2e5 1px solid; z-index:100;}
/*左右箭头*/
.arow_l
{
	background:url(/Themes/style1/img/pub/left.png) no-repeat;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/Themes/style1/img/pub/left.png',sizingMethod='scale'); 
}
.arow_r
{
	background:url(/Themes/style1/img/pub/right.png) no-repeat right;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/Themes/style1/img/pub/right.png',sizingMethod='scale'); 	
}
.arow_lh
{
	background:url(/Themes/style1/img/pub/left_h.png) no-repeat;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/Themes/style1/img/pub/left_h.png',sizingMethod='scale'); 
}
.arow_rh
{
	background:url(/Themes/style1/img/pub/right_h.png) no-repeat right;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/Themes/style1/img/pub/right_h.png',sizingMethod='scale'); 
}
.arow_l,.arow_r,.arow_lh,.arow_rh
{
	_background:transparent none;
	width:40px;
	height:40px;	
}
/*数据行不同样式，关键字*/
.one{background:#fff;}
.two{background:#f3f3f3;}